<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
      <link href="https://fonts.googleapis.com/css?family=Kosugi" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway|Shrikhand" rel="stylesheet">
  </head>
  <body>
    <h1> Songs </h1>
    <div class="songs-container">
      <% @songs.each do |song| %>
      <ul style="list-style-type:none">
        <img src="../images/vinyl.jpg" alt="Vinyl Photo by Adrian Korte" height="120" width="110"/>
        <li><%= song.title %></li>
        <li><%= song.length %> seconds</li>
        <li>Play Count: <%= song.play_count %></li>
      </ul>
      <% end %>
    </div>
  </body>
</html>
