body {
  background-color: #EAFEF3;

}

h1 {
  text-align: center;
  font-family: 'Shrikhand', sans-serif;
}

.songs-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-family: 'Kosugi', sans-serif;
}

img {
  width: 110px;
  height: 80px;
  border-radius: 50%;
}

ul{
  margin: 15px 10px;
  padding: 25px 25px;
  background: #E8F2EC;
  text-align: center;
}
